.badge-category__wrapper {
  font-size: inherit;

  .badge-category {
    gap: 0.25rem;
    align-items: center;
    border-radius: 10rem;
    padding: 0.1rem 0.75rem !important;
    background-color: var(--category-badge-color) !important;
    color: var(--category-badge-text-color) !important;

    &.--has-parent {
      &:before {
        background: none;
        display: none !important;
      }
    }
  }
}

.badge-category__wrapper {
  font-size: inherit;

  .badge-category {
    gap: 0.25rem;
    align-items: center;
    border-radius: 10rem;
    padding: 0.1rem 0.75rem;
    background-color: var(--category-badge-color);
    color: var(--category-badge-text-color);

    &.--has-parent {
      &:before {
        background: none;
        display: none !important;
      }
    }
  }
}

.badge-notification {
  &.unread-posts {
    background-color: var(--primary-60);
    color: var(--primary-100);
  }
}

.badge-card {
  border-radius: var(--rounded-md);
}

.badge-card {
  .favorite-btn {
    margin: 0.5em;
  }
}
